html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #222325;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
#scroller {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.environment {
    height: 540px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: center 450px;
    perspective-origin: center 450px;
    left: 50%;
    margin: -270px 0 0 -495px;
    position: absolute;
    top: 50%;
    width: 990px
}
.content {
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.content .layer {
    height: 100%;
    position: absolute;
    width: 100%
}
.content #l1 {
    /*background: url("../images/invite-1.png") 0 0 no-repeat;*/
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.content #l2 {
    /*background: url("../images/invite-2.png") 0 0 no-repeat;*/
    -webkit-transform: translate3d(0, 0, -1000px);
    transform: translate3d(0, 0, -1000px)
}
.content #l3 {
    /*background: url("../images/invite-3.png") 0 0 no-repeat;*/
    -webkit-transform: translate3d(0, 0, -2000px);
    transform: translate3d(0, 0, -2000px)
}
.content .rsvp {
    /*display: none;*/
    /*display: block;*/
    height: 190px;
    left: 50%;
    margin: -80px 0 0 -95px;
    position: absolute;
    top: 50%;
    width: 190px
}

img {
  max-width: 100%;
}

img[onload] {
  opacity: 0;
  -webkit-transition: 0.3s opacity ease;
  -moz-transition: 0.3s opacity ease;
  transition: 0.3s opacity ease;
}
